<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>BeeUI 示例文档</title>
    <link rel="stylesheet" href="../../dest/css/doc_demo.css"/>
    <link rel="stylesheet" href="../../dest/css/prism.css"/>
    <link rel="stylesheet" href="../../dest/css/beeui.min.css"/>
</head>
<body>

<div class="doc-header">
    <div class="doc-inner">
        <h1 class="doc-logo"><a href="#">BeeUI（1.0.0）</a></h1>
        <div class="doc-navbar">
    <ul class="doc-nav">
        <li class=""><a href="../element/element.html">元件</a></li>
        <li class=""><a href="../component/component.html">组件</a></li>
        <li class=""><a href="../layout/index.html" target="_blank">布局</a></li>
    </ul>
</div>
    </div>
</div>
<!--header-->

<div class="doc-container">
    <div class="doc-sidebar">
        <div class="doc-sticker">
            <div class="doc-toc"></div>
        </div>
    </div>
    <!--sidebar-->
    <div class="doc-content">
        <h2>calendar（日历）</h2>
<p>日历组件样式。</p>
<pre><code class="language-markup">&lt;div class=&quot;calendar&quot;&gt;
    &lt;div class=&quot;calendar-hd&quot;&gt;
        &lt;a class=&quot;calendar-prev&quot; href=&quot;javascript:;&quot;&gt;prev&lt;/a&gt;
        &lt;a class=&quot;calendar-title&quot; href=&quot;javascript:;&quot;&gt;2014年06月&lt;/a&gt;
        &lt;a class=&quot;calendar-next&quot; href=&quot;javascript:;&quot;&gt;next&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;calendar-bd&quot;&gt;
        &lt;div class=&quot;calendar-day show&quot;&gt;
            &lt;table&gt;
                &lt;thead&gt;
                &lt;tr&gt;
                    &lt;th&gt;日&lt;/th&gt;
                    &lt;th&gt;一&lt;/th&gt;
                    &lt;th&gt;二&lt;/th&gt;
                    &lt;th&gt;三&lt;/th&gt;
                    &lt;th&gt;四&lt;/th&gt;
                    &lt;th&gt;五&lt;/th&gt;
                    &lt;th&gt;六&lt;/th&gt;
                &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                &lt;tr&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;25&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;26&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;27&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;28&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;29&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;30&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;31&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;6&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;7&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;8&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;9&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;10&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;11&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;12&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;13&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;14&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;15&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;16&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;17&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;18&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;19&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;20&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;21&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;22&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;23&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;24&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;25&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;26&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;27&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;28&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;29&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;30&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/td&gt;
                    &lt;td class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;/tbody&gt;
            &lt;/table&gt;
        &lt;/div&gt;
        &lt;div class=&quot;calendar-year&quot;&gt;
            &lt;table&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2010&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2011&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2012&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2013&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2014&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2015&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2016&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2017&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2018&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2019&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2020&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2021&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
            &lt;/table&gt;
        &lt;/div&gt;
        &lt;div class=&quot;calendar-month&quot;&gt;
            &lt;table&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;1月&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;2月&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;3月&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;4月&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;5月&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;6月&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;7月&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;8月&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;9月&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;10月&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;11月&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;12月&lt;/a&gt;&lt;/td&gt;
                &lt;/tr&gt;
            &lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
<div class="calendar">
    <div class="calendar-hd">
        <a class="calendar-prev" href="javascript:;">prev</a>
        <a class="calendar-title" href="javascript:;">2014年06月</a>
        <a class="calendar-next" href="javascript:;">next</a>
    </div>
    <div class="calendar-bd">
        <div class="calendar-day show">
            <table>
                <thead>
                <tr>
                    <th>日</th>
                    <th>一</th>
                    <th>二</th>
                    <th>三</th>
                    <th>四</th>
                    <th>五</th>
                    <th>六</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="disabled"><a href="#">25</a></td>
                    <td class="disabled"><a href="#">26</a></td>
                    <td class="disabled"><a href="#">27</a></td>
                    <td class="disabled"><a href="#">28</a></td>
                    <td class="disabled"><a href="#">29</a></td>
                    <td class="disabled"><a href="#">30</a></td>
                    <td class="disabled"><a href="#">31</a></td>
                </tr>
                <tr>
                    <td><a href="#">1</a></td>
                    <td><a href="#">2</a></td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">4</a></td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">7</a></td>
                </tr>
                <tr>
                    <td><a href="#">8</a></td>
                    <td><a href="#">9</a></td>
                    <td><a href="#">10</a></td>
                    <td class="active"><a href="#">11</a></td>
                    <td><a href="#">12</a></td>
                    <td><a href="#">13</a></td>
                    <td><a href="#">14</a></td>
                </tr>
                <tr>
                    <td><a href="#">15</a></td>
                    <td><a href="#">16</a></td>
                    <td><a href="#">17</a></td>
                    <td><a href="#">18</a></td>
                    <td><a href="#">19</a></td>
                    <td><a href="#">20</a></td>
                    <td><a href="#">21</a></td>
                </tr>
                <tr>
                    <td><a href="#">22</a></td>
                    <td><a href="#">23</a></td>
                    <td><a href="#">24</a></td>
                    <td><a href="#">25</a></td>
                    <td><a href="#">26</a></td>
                    <td><a href="#">27</a></td>
                    <td><a href="#">28</a></td>
                </tr>
                <tr>
                    <td><a href="#">29</a></td>
                    <td><a href="#">30</a></td>
                    <td class="disabled"><a href="#">1</a></td>
                    <td class="disabled"><a href="#">2</a></td>
                    <td class="disabled"><a href="#">3</a></td>
                    <td class="disabled"><a href="#">4</a></td>
                    <td class="disabled"><a href="#">5</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="calendar-year">
            <table>
                <tr>
                    <td><a href="#">2010</a></td>
                    <td><a href="#">2011</a></td>
                    <td><a href="#">2012</a></td>
                    <td><a href="#">2013</a></td>
                </tr>
                <tr>
                    <td><a href="#">2014</a></td>
                    <td><a href="#">2015</a></td>
                    <td><a href="#">2016</a></td>
                    <td><a href="#">2017</a></td>
                </tr>
                <tr>
                    <td><a href="#">2018</a></td>
                    <td><a href="#">2019</a></td>
                    <td><a href="#">2020</a></td>
                    <td><a href="#">2021</a></td>
                </tr>
            </table>
        </div>
        <div class="calendar-month">
            <table>
                <tr>
                    <td><a href="#">1月</a></td>
                    <td><a href="#">2月</a></td>
                    <td><a href="#">3月</a></td>
                    <td><a href="#">4月</a></td>
                </tr>
                <tr>
                    <td><a href="#">5月</a></td>
                    <td><a href="#">6月</a></td>
                    <td><a href="#">7月</a></td>
                    <td><a href="#">8月</a></td>
                </tr>
                <tr>
                    <td><a href="#">9月</a></td>
                    <td><a href="#">10月</a></td>
                    <td><a href="#">11月</a></td>
                    <td><a href="#">12月</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<h3>calendar-group</h3>
<p>日历组组件样式。</p>
<pre><code class="language-markup">&lt;div class=&quot;calendar-group&quot;&gt;
    &lt;div class=&quot;calendar&quot;&gt;
    ...
    &lt;/div&gt;
    &lt;div class=&quot;calendar&quot;&gt;
    ...
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
<div class="calendar-group">
    <div class="calendar">
        <div class="calendar-hd">
            <a class="calendar-prev" href="javascript:;">prev</a>
            <a class="calendar-title" href="javascript:;">2014年06月</a>
            <a class="calendar-next" href="javascript:;">next</a>
        </div>
        <div class="calendar-bd">
            <div class="calendar-day show">
                <table>
                    <thead>
                    <tr>
                        <th>日</th>
                        <th>一</th>
                        <th>二</th>
                        <th>三</th>
                        <th>四</th>
                        <th>五</th>
                        <th>六</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="disabled"><a href="#">25</a></td>
                        <td class="disabled"><a href="#">26</a></td>
                        <td class="disabled"><a href="#">27</a></td>
                        <td class="disabled"><a href="#">28</a></td>
                        <td class="disabled"><a href="#">29</a></td>
                        <td class="disabled"><a href="#">30</a></td>
                        <td class="disabled"><a href="#">31</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">1</a></td>
                        <td><a href="#">2</a></td>
                        <td><a href="#">3</a></td>
                        <td><a href="#">4</a></td>
                        <td><a href="#">5</a></td>
                        <td><a href="#">6</a></td>
                        <td><a href="#">7</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">8</a></td>
                        <td><a href="#">9</a></td>
                        <td><a href="#">10</a></td>
                        <td class="active"><a href="#">11</a></td>
                        <td><a href="#">12</a></td>
                        <td><a href="#">13</a></td>
                        <td><a href="#">14</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">15</a></td>
                        <td><a href="#">16</a></td>
                        <td><a href="#">17</a></td>
                        <td><a href="#">18</a></td>
                        <td><a href="#">19</a></td>
                        <td><a href="#">20</a></td>
                        <td><a href="#">21</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">22</a></td>
                        <td><a href="#">23</a></td>
                        <td><a href="#">24</a></td>
                        <td><a href="#">25</a></td>
                        <td><a href="#">26</a></td>
                        <td><a href="#">27</a></td>
                        <td><a href="#">28</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">29</a></td>
                        <td><a href="#">30</a></td>
                        <td class="disabled"><a href="#">1</a></td>
                        <td class="disabled"><a href="#">2</a></td>
                        <td class="disabled"><a href="#">3</a></td>
                        <td class="disabled"><a href="#">4</a></td>
                        <td class="disabled"><a href="#">5</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="calendar-year">
                <table>
                    <tr>
                        <td><a href="#">2010</a></td>
                        <td><a href="#">2011</a></td>
                        <td><a href="#">2012</a></td>
                        <td><a href="#">2013</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">2014</a></td>
                        <td><a href="#">2015</a></td>
                        <td><a href="#">2016</a></td>
                        <td><a href="#">2017</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">2018</a></td>
                        <td><a href="#">2019</a></td>
                        <td><a href="#">2020</a></td>
                        <td><a href="#">2021</a></td>
                    </tr>
                </table>
            </div>
            <div class="calendar-month">
                <table>
                    <tr>
                        <td><a href="#">1月</a></td>
                        <td><a href="#">2月</a></td>
                        <td><a href="#">3月</a></td>
                        <td><a href="#">4月</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">5月</a></td>
                        <td><a href="#">6月</a></td>
                        <td><a href="#">7月</a></td>
                        <td><a href="#">8月</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">9月</a></td>
                        <td><a href="#">10月</a></td>
                        <td><a href="#">11月</a></td>
                        <td><a href="#">12月</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="calendar">
        <div class="calendar-hd">
            <a class="calendar-prev" href="javascript:;">prev</a>
            <a class="calendar-title" href="javascript:;">2014年06月</a>
            <a class="calendar-next" href="javascript:;">next</a>
        </div>
        <div class="calendar-bd">
            <div class="calendar-day show">
                <table>
                    <thead>
                    <tr>
                        <th>日</th>
                        <th>一</th>
                        <th>二</th>
                        <th>三</th>
                        <th>四</th>
                        <th>五</th>
                        <th>六</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="disabled"><a href="#">25</a></td>
                        <td class="disabled"><a href="#">26</a></td>
                        <td class="disabled"><a href="#">27</a></td>
                        <td class="disabled"><a href="#">28</a></td>
                        <td class="disabled"><a href="#">29</a></td>
                        <td class="disabled"><a href="#">30</a></td>
                        <td class="disabled"><a href="#">31</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">1</a></td>
                        <td><a href="#">2</a></td>
                        <td><a href="#">3</a></td>
                        <td><a href="#">4</a></td>
                        <td><a href="#">5</a></td>
                        <td><a href="#">6</a></td>
                        <td><a href="#">7</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">8</a></td>
                        <td><a href="#">9</a></td>
                        <td><a href="#">10</a></td>
                        <td class="active"><a href="#">11</a></td>
                        <td><a href="#">12</a></td>
                        <td><a href="#">13</a></td>
                        <td><a href="#">14</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">15</a></td>
                        <td><a href="#">16</a></td>
                        <td><a href="#">17</a></td>
                        <td><a href="#">18</a></td>
                        <td><a href="#">19</a></td>
                        <td><a href="#">20</a></td>
                        <td><a href="#">21</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">22</a></td>
                        <td><a href="#">23</a></td>
                        <td><a href="#">24</a></td>
                        <td><a href="#">25</a></td>
                        <td><a href="#">26</a></td>
                        <td><a href="#">27</a></td>
                        <td><a href="#">28</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">29</a></td>
                        <td><a href="#">30</a></td>
                        <td class="disabled"><a href="#">1</a></td>
                        <td class="disabled"><a href="#">2</a></td>
                        <td class="disabled"><a href="#">3</a></td>
                        <td class="disabled"><a href="#">4</a></td>
                        <td class="disabled"><a href="#">5</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="calendar-year">
                <table>
                    <tr>
                        <td><a href="#">2010</a></td>
                        <td><a href="#">2011</a></td>
                        <td><a href="#">2012</a></td>
                        <td><a href="#">2013</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">2014</a></td>
                        <td><a href="#">2015</a></td>
                        <td><a href="#">2016</a></td>
                        <td><a href="#">2017</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">2018</a></td>
                        <td><a href="#">2019</a></td>
                        <td><a href="#">2020</a></td>
                        <td><a href="#">2021</a></td>
                    </tr>
                </table>
            </div>
            <div class="calendar-month">
                <table>
                    <tr>
                        <td><a href="#">1月</a></td>
                        <td><a href="#">2月</a></td>
                        <td><a href="#">3月</a></td>
                        <td><a href="#">4月</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">5月</a></td>
                        <td><a href="#">6月</a></td>
                        <td><a href="#">7月</a></td>
                        <td><a href="#">8月</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">9月</a></td>
                        <td><a href="#">10月</a></td>
                        <td><a href="#">11月</a></td>
                        <td><a href="#">12月</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

    </div>
    <!--content-->
</div>
<!--container-->

<div class="doc-footer">
    <div class="doc-inner"></div>
</div>
<!--footer-->

<script src="../../dest/js/jquery-1.7.2.min.js"></script>
<script src="../../dest/js/jquery.toc.min.js"></script>
<script src="../../dest/js/jquery.sticky.js"></script>
<script src="../../dest/js/prism.js"></script>
<script src="../../dest/js/doc_demo.js"></script>

</body>
</html>