<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>BeeUI 示例文档</title>
    <link rel="stylesheet" href="../../dest/css/doc_demo.css"/>
    <link rel="stylesheet" href="../../dest/css/prism.css"/>
    <link rel="stylesheet" href="../../dest/css/beeui.min.css"/>
</head>
<body>

<div class="doc-header">
    <div class="doc-inner">
        <h1 class="doc-logo"><a href="#">BeeUI（1.0.0）</a></h1>
        <div class="doc-navbar">
    <ul class="doc-nav">
        <li class=""><a href="../element/element.html">元件</a></li>
        <li class=""><a href="../component/component.html">组件</a></li>
        <li class=""><a href="../layout/index.html" target="_blank">布局</a></li>
    </ul>
</div>
    </div>
</div>
<!--header-->

<div class="doc-container">
    <div class="doc-sidebar">
        <div class="doc-sticker">
            <div class="doc-toc"></div>
        </div>
    </div>
    <!--sidebar-->
    <div class="doc-content">
        <h2>menu（菜单）</h2>
<p>菜单组件样式。</p>
<ul class="menu menu-tabs">
    <li><a href="#">首页</a></li>
    <li class="active">
        <a href="#">广告</a>
        <div class="submenu">
            <ul>
                <li class="active"><a href="#">广告管理</a></li>
                <li><a href="#">广告排期</a></li>
                <li><a href="#">广告报告</a></li>
            </ul>
        </div>
    </li>
    <li><a href="#">商家</a></li>
    <li><a href="#">连乐</a></li>
    <li><a href="#">顾客</a></li>
    <li>
        <a href="#">数据报告</a>
        <div class="submenu">
            <ul>
                <li><a href="#">活跃商家报告</a></li>
                <li><a href="#">连乐在线报告</a></li>
                <li><a href="#">认证报告</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#">设置</a>
        <div class="submenu">
            <ul>
                <li><a href="#">代理商资料</a></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">团队管理</a></li>
                <li><a href="#">用户管理</a></li>
            </ul>
        </div>
    </li>
</ul>

    </div>
    <!--content-->
</div>
<!--container-->

<div class="doc-footer">
    <div class="doc-inner"></div>
</div>
<!--footer-->

<script src="../../dest/js/jquery-1.7.2.min.js"></script>
<script src="../../dest/js/jquery.toc.min.js"></script>
<script src="../../dest/js/jquery.sticky.js"></script>
<script src="../../dest/js/prism.js"></script>
<script src="../../dest/js/doc_demo.js"></script>

</body>
</html>