<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>BeeUI 示例文档</title>
    <link rel="stylesheet" href="../../dest/css/doc_demo.css"/>
    <link rel="stylesheet" href="../../dest/css/prism.css"/>
    <link rel="stylesheet" href="../../dest/css/beeui.min.css"/>
</head>
<body>

<div class="doc-header">
    <div class="doc-inner">
        <h1 class="doc-logo"><a href="#">BeeUI（1.0.0）</a></h1>
        <div class="doc-navbar">
    <ul class="doc-nav">
        <li class=""><a href="../element/element.html">元件</a></li>
        <li class=""><a href="../component/component.html">组件</a></li>
        <li class=""><a href="../layout/index.html" target="_blank">布局</a></li>
    </ul>
</div>
    </div>
</div>
<!--header-->

<div class="doc-container">
    <div class="doc-sidebar">
        <div class="doc-sticker">
            <div class="doc-toc"></div>
        </div>
    </div>
    <!--sidebar-->
    <div class="doc-content">
        <h2>nav（导航）</h2>
<p>导航组件样式。</p>
<h3>形态</h3>
<p>beeui 提供两种形态的导航样式：</p>
<ul>
<li>nav-tabs</li>
<li>nav-inline</li>
</ul>
<pre><code class="language-markup">&lt;ul class=&quot;nav nav-tabs&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;item 01&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;item 02&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<ul class="nav nav-tabs">
    <li><a href="#">item 01</a></li>
    <li class="active"><a href="#">item 02</a></li>
</ul>

<pre><code class="language-markup">&lt;ul class=&quot;nav nav-inline&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;item 01&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;item 02&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;item 03&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<ul class="nav nav-inline">
    <li><a href="#">item 01</a></li>
    <li class="divider"></li>
    <li><a href="#">item 02</a></li>
    <li class="divider"></li>
    <li><a href="#">item 03</a></li>
</ul>

<h3>大小</h3>
<p>beeui 提供可配置的导航大小样式：</p>
<pre><code class="language-markup">&lt;ul class=&quot;nav nav-tabs nav-lg&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;item 01&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;item 02&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<ul class="nav nav-tabs">
    <li><a href="#">item 01</a></li>
    <li class="active"><a href="#">item 02</a></li>
</ul>

<ul class="nav nav-tabs nav-lg">
    <li><a href="#">item 01</a></li>
    <li class="active"><a href="#">item 02</a></li>
</ul>

<h3>皮肤</h3>
<p>beeui 默认提供两种可选的皮肤样式：</p>
<ul>
<li>nav</li>
<li>nav-black</li>
</ul>
<pre><code class="language-markup">&lt;ul class=&quot;nav nav-tabs nav-black&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;item 01&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;item 02&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<ul class="nav nav-tabs">
    <li><a href="#">item 01</a></li>
    <li class="active"><a href="#">item 02</a></li>
</ul>

<ul class="nav nav-tabs nav-black">
    <li><a href="#">item 01</a></li>
    <li class="active"><a href="#">item 02</a></li>
</ul>

    </div>
    <!--content-->
</div>
<!--container-->

<div class="doc-footer">
    <div class="doc-inner"></div>
</div>
<!--footer-->

<script src="../../dest/js/jquery-1.7.2.min.js"></script>
<script src="../../dest/js/jquery.toc.min.js"></script>
<script src="../../dest/js/jquery.sticky.js"></script>
<script src="../../dest/js/prism.js"></script>
<script src="../../dest/js/doc_demo.js"></script>

</body>
</html>