<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>BeeUI 示例文档</title>
    <link rel="stylesheet" href="../../dest/css/doc_demo.css"/>
    <link rel="stylesheet" href="../../dest/css/prism.css"/>
    <link rel="stylesheet" href="../../dest/css/beeui.min.css"/>
</head>
<body>

<div class="doc-header">
    <div class="doc-inner">
        <h1 class="doc-logo"><a href="#">BeeUI（1.0.0）</a></h1>
        <div class="doc-navbar">
    <ul class="doc-nav">
        <li class=""><a href="../element/element.html">元件</a></li>
        <li class=""><a href="../component/component.html">组件</a></li>
        <li class=""><a href="../layout/index.html" target="_blank">布局</a></li>
    </ul>
</div>
    </div>
</div>
<!--header-->

<div class="doc-container">
    <div class="doc-sidebar">
        <div class="doc-sticker">
            <div class="doc-toc"></div>
        </div>
    </div>
    <!--sidebar-->
    <div class="doc-content">
        <h2>prompt（提示）</h2>
<p>提示组件样式。主要包含 alert、notice。</p>
<h3>形态</h3>
<h4>prompt-alert</h4>
<div class="prompt-alert">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        alert
    </div>
</div>

<p>full 模式的 alert 组件样式。</p>
<div class="prompt-alert prompt-full">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        full model full model full model full model full model full model full model full model full model full model
        full model full model full model full model full model full model full model full model full model full model
        full model full model full model full model full model full model full model full model full model full model
    </div>
</div>

<p>可关闭的 alert 组件样式。</p>
<div class="prompt-alert prompt-closable">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        closable model
    </div>
    <a class="close" href="javascript:;">&times;</a>
</div>

<h4>prompt-notice</h4>
<div class="prompt-notice">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        notice
    </div>
</div>


<h3>状态</h3>
<h4>prompt-alert</h4>
<div class="prompt-alert prompt-alert-info">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        info state
    </div>
</div>

<div class="prompt-alert prompt-alert-warning">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        wraning state
    </div>
</div>

<div class="prompt-alert prompt-alert-error">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        error state
    </div>
</div>

<div class="prompt-alert prompt-alert-success">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        success state
    </div>
</div>

<h4>prompt-notice</h4>
<div class="prompt-notice prompt-notice-info">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        info state
    </div>
</div>

<div class="prompt-notice prompt-notice-warning">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        warning state
    </div>
</div>

<div class="prompt-notice prompt-notice-error">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        error state
    </div>
</div>

<div class="prompt-notice prompt-notice-success">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        success state
    </div>
</div>

<div class="prompt-notice prompt-notice-loading">
    <i class="prompt-icon"></i>
    <div class="prompt-main">
        loading state
    </div>
</div>

    </div>
    <!--content-->
</div>
<!--container-->

<div class="doc-footer">
    <div class="doc-inner"></div>
</div>
<!--footer-->

<script src="../../dest/js/jquery-1.7.2.min.js"></script>
<script src="../../dest/js/jquery.toc.min.js"></script>
<script src="../../dest/js/jquery.sticky.js"></script>
<script src="../../dest/js/prism.js"></script>
<script src="../../dest/js/doc_demo.js"></script>

</body>
</html>