<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>BeeUI 示例文档</title>
    <link rel="stylesheet" href="../../dest/css/doc_demo.css"/>
    <link rel="stylesheet" href="../../dest/css/prism.css"/>
    <link rel="stylesheet" href="../../dest/css/beeui.min.css"/>
</head>
<body>

<div class="doc-header">
    <div class="doc-inner">
        <h1 class="doc-logo"><a href="#">BeeUI（1.0.0）</a></h1>
        <div class="doc-navbar">
    <ul class="doc-nav">
        <li class=""><a href="../element/element.html">元件</a></li>
        <li class=""><a href="../component/component.html">组件</a></li>
        <li class=""><a href="../layout/index.html" target="_blank">布局</a></li>
    </ul>
</div>
    </div>
</div>
<!--header-->

<div class="doc-container">
    <div class="doc-sidebar">
        <div class="doc-sticker">
            <div class="doc-toc"></div>
        </div>
    </div>
    <!--sidebar-->
    <div class="doc-content">
        <h2>selectbox（下拉选项）</h2>
<p>下拉选项组件样式。</p>
<h3>形态</h3>
<p>selectbox-tags</p>
<div class="selectbox selectbox-tags">
    <div class="selectbox-toggle">
    <span class="selectbox-label">
      <ul>
          <li>
              <span>AA</span>
              <a class="close" href="javascript:;">&times;</a>
          </li>
          <li>
              <span>BB</span>
              <a class="close" href="javascript:;">&times;</a>
          </li>
          <li>
              <span>CB</span>
              <a class="close" href="javascript:;">&times;</a>
          </li>
      </ul>
    </span>
    <span class="selectbox-icon">
      <i class="icon"></i>
    </span>
    </div>
    <div class="selectbox-panel hide">
        <div class="selectbox-search">
            <input type="text" placeholder="查找"/>
            <button type="button">search</button>
        </div>
        <div class="selectbox-menu">
            <ul>
                <li class="only"><a href="#">00</a></li>
                <li class="caption"><a href="#">A</a></li>
                <li><a href="#">AA</a></li>
                <li><a href="#">AB</a></li>
                <li class="caption"><a href="#">B</a></li>
                <li class="active"><a href="#">BA</a></li>
                <li><a href="#">BB</a></li>
                <li class="caption"><a href="#">C</a></li>
                <li class="focus"><a href="#">CA</a></li>
                <li class="disabled"><a href="#">CB</a></li>
            </ul>
        </div>
        <div class="selectbox-text">搜索无结果</div>
    </div>
</div>

<p>selectbox-dropdown</p>
<div class="selectbox selectbox-dropdown">
    <div class="selectbox-toggle">
        <span class="selectbox-label">---请选择---</span>
    <span class="selectbox-icon">
      <i class="icon"></i>
    </span>
    </div>
    <div class="selectbox-panel hide">
        <div class="selectbox-menu">
            <ul>
                <li class="caption"><a href="#">A</a></li>
                <li><a href="#">AA</a></li>
                <li><a href="#">AB</a></li>
                <li class="caption"><a href="#">B</a></li>
                <li class="active"><a href="#">BA</a></li>
                <li><a href="#">BB</a></li>
                <li class="caption"><a href="#">C</a></li>
                <li class="focus"><a href="#">CA</a></li>
                <li class="disabled"><a href="#">CB</a></li>
            </ul>
        </div>
    </div>
</div>

    </div>
    <!--content-->
</div>
<!--container-->

<div class="doc-footer">
    <div class="doc-inner"></div>
</div>
<!--footer-->

<script src="../../dest/js/jquery-1.7.2.min.js"></script>
<script src="../../dest/js/jquery.toc.min.js"></script>
<script src="../../dest/js/jquery.sticky.js"></script>
<script src="../../dest/js/prism.js"></script>
<script src="../../dest/js/doc_demo.js"></script>

</body>
</html>