<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>BeeUI 示例文档</title>
    <link rel="stylesheet" href="../../dest/css/doc_demo.css"/>
    <link rel="stylesheet" href="../../dest/css/prism.css"/>
    <link rel="stylesheet" href="../../dest/css/beeui.min.css"/>
</head>
<body>

<div class="doc-header">
    <div class="doc-inner">
        <h1 class="doc-logo"><a href="#">BeeUI（1.0.0）</a></h1>
        <div class="doc-navbar">
    <ul class="doc-nav">
        <li class=""><a href="../element/element.html">元件</a></li>
        <li class=""><a href="../component/component.html">组件</a></li>
        <li class=""><a href="../layout/index.html" target="_blank">布局</a></li>
    </ul>
</div>
    </div>
</div>
<!--header-->

<div class="doc-container">
    <div class="doc-sidebar">
        <div class="doc-sticker">
            <div class="doc-toc"></div>
        </div>
    </div>
    <!--sidebar-->
    <div class="doc-content">
        <h2>tab（选项卡）</h2>
<p>选项卡组件样式。</p>
<h3>形态</h3>
<pre><code class="language-markup">&lt;div class=&quot;tab&quot;&gt;
    &lt;div class=&quot;tab-nav&quot;&gt;
        &lt;ul class=&quot;nav nav-tabs nav-sm&quot;&gt;
            &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;item 01&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;item 02&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;div class=&quot;tab-more&quot;&gt;
            &lt;span&gt;如有疑问，请联系高务人员&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tab-main p10&quot;&gt;
        &lt;div class=&quot;tab-panel tab-current&quot;&gt;panel 01&lt;/div&gt;
        &lt;div class=&quot;tab-panel&quot;&gt;panel 02&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
<div class="tab">
    <div class="tab-nav">
        <ul class="nav nav-tabs nav-sm">
            <li class="active"><a href="#">item 01</a></li>
            <li><a href="#">item 02</a></li>
        </ul>
        <div class="tab-more">
            <span>如有疑问，请联系高务人员</span>
        </div>
    </div>
    <div class="tab-main p10">
        <div class="tab-panel tab-current">panel 01</div>
        <div class="tab-panel">panel 02</div>
    </div>
</div>

<h3>tab-noborder</h3>
<div class="panel">
    <div class="panel-hd">
        <div class="panel-title">
            <i class="icon icon-data"></i>
            <h3>昨日数据</h3>
        </div>
        <div class="panel-explain"></div>
        <div class="panel-more">
            <a href="#">详细报告</a>
        </div>
    </div>
    <div class="panel-bd">
        <div class="tab tab-noborder">
            <div class="tab-nav">
                <ul class="nav nav-tabs nav-sm">
                    <li class="active"><a href="#">item 01</a></li>
                    <li><a href="#">item 02</a></li>
                </ul>
                <div class="tab-more">
                    <span>如有疑问，请联系高务人员</span>
                </div>
            </div>
            <div class="tab-main p10">
                <div class="tab-panel tab-current">panel 01</div>
                <div class="tab-panel">panel 02</div>
            </div>
        </div>
    </div>
</div>

    </div>
    <!--content-->
</div>
<!--container-->

<div class="doc-footer">
    <div class="doc-inner"></div>
</div>
<!--footer-->

<script src="../../dest/js/jquery-1.7.2.min.js"></script>
<script src="../../dest/js/jquery.toc.min.js"></script>
<script src="../../dest/js/jquery.sticky.js"></script>
<script src="../../dest/js/prism.js"></script>
<script src="../../dest/js/doc_demo.js"></script>

</body>
</html>