<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>BeeUI 示例文档</title>
    <link rel="stylesheet" href="../../dest/css/doc_demo.css"/>
    <link rel="stylesheet" href="../../dest/css/prism.css"/>
    <link rel="stylesheet" href="../../dest/css/beeui.min.css"/>
</head>
<body>

<div class="doc-header">
    <div class="doc-inner">
        <h1 class="doc-logo"><a href="#">BeeUI（1.0.0）</a></h1>
        <div class="doc-navbar">
    <ul class="doc-nav">
        <li class=""><a href="../element/element.html">元件</a></li>
        <li class=""><a href="../component/component.html">组件</a></li>
        <li class=""><a href="../layout/index.html" target="_blank">布局</a></li>
    </ul>
</div>
    </div>
</div>
<!--header-->

<div class="doc-container">
    <div class="doc-sidebar">
        <div class="doc-sticker">
            <div class="doc-toc"></div>
        </div>
    </div>
    <!--sidebar-->
    <div class="doc-content">
        <h2>tooltip（工具提示）</h2>
<p>工具组件样式。</p>
<h3>方向</h3>
<p>beeui 为 tooltip 组件定义了 8 个可配置的方向：</p>
<ul>
<li>tooltip-nw    —— NorthWest tooltip</li>
<li>tooltip-n    —— North tooltip</li>
<li>tooltip-ne    —— NorthEast tooltip</li>
<li>tooltip-w    —— West tooltip</li>
<li>tooltip-e    —— East tooltip</li>
<li>tooltip-sw    —— SouthWest tooltip</li>
<li>tooltip-s    —— South tooltip</li>
<li>tooltip-se    —— SouthEast tooltip</li>
</ul>
<div class="tooltip tooltip-n">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        North tooltip
    </div>
</div>

<div class="tooltip tooltip-w">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        NorthEast tooltip
    </div>
</div>

<div class="tooltip tooltip-e">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        West tooltip
    </div>
</div>

<div class="tooltip tooltip-s">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        West tooltip
    </div>
</div>

<h3>皮肤</h3>
<p>beeui 为 tooltip 提供了 6 种可配置的皮肤样式：</p>
<ul>
<li>tooltip</li>
<li>tooltip-black</li>
<li>tooltip-blue</li>
<li>tooltip-green</li>
<li>tooltip-yellow</li>
<li>tooltip-darkyellow</li>
</ul>
<div class="tooltip tooltip-n">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        black skin
    </div>
</div>

<div class="tooltip tooltip-n tooltip-black">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        black skin
    </div>
</div>

<div class="tooltip tooltip-n tooltip-blue">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        blue skin
    </div>
</div>

<div class="tooltip tooltip-n tooltip-green">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        green skin
    </div>
</div>

<div class="tooltip tooltip-n tooltip-yellow">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        yellow skin
    </div>
</div>

<div class="tooltip tooltip-n tooltip-darkyellow">
    <div class="tooltip-arrow">
        <div class="tooltip-arrow-before"></div>
        <div class="tooltip-arrow-after"></div>
    </div>
    <div class="tooltip-main">
        derk yellow skin
    </div>
</div>

    </div>
    <!--content-->
</div>
<!--container-->

<div class="doc-footer">
    <div class="doc-inner"></div>
</div>
<!--footer-->

<script src="../../dest/js/jquery-1.7.2.min.js"></script>
<script src="../../dest/js/jquery.toc.min.js"></script>
<script src="../../dest/js/jquery.sticky.js"></script>
<script src="../../dest/js/prism.js"></script>
<script src="../../dest/js/doc_demo.js"></script>

</body>
</html>