<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="stylesheet" href="../../dest/css/beeui.min.css"/>
</head>
<body>

<div class="header">

    <div class="inner clearfix">

        <div class="pull-left">
            <h1 class="logo"><a href="#">淘金网盟代理商后台</a></h1>
        </div>

        <div class="pull-right">
            <ul class="nav nav-inline">
                <li>您好， <strong>小袁</strong></li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <i class="icon icon-clock"></i>
                        我的消息
                        <span class="label">19</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <i class="icon icon-edit"></i>
                        修改密码
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <i class="icon icon-exit"></i>
                        退出
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="inner inner-bottom">

        <ul class="nav nav-tabs nav-black nav-lg">
            <li class="active"><a href="index.html">首页</a></li>
            <li><a href="login.html">登录页</a></li>
        </ul>

    </div>

</div>
<!--header-->

<div class="container">

    <div class="banner mb10">

    </div>
    <!--banner-->

    <div class="main">

        <div class="card">
            <div class="card-inner">
                <div class="card-logo card-logo-agent"></div>
                <div class="card-main">
                    <h3>
                        湖北盛天网络技术股份有限公司
                        <span class="text-orange">(ID:254)</span>
                        <a class="btn btn-blue btn-smt" href="/html/setting/info/info_agent">代理商资料</a>
                    </h3>
                    <p>账号：stnts</p>
                    <p>上次登录时间：2014-07-09 16:30:30</p>
                </div>
            </div>
        </div>

        <div class="panel mt20">
            <div class="panel-hd">
                <div class="panel-title">
                    <h3>当前状态</h3>
                </div>
            </div>
            <div class="panel-bd">

                <div class="overview overview-three">
                    <ul>
                        <li>
                            <div>在线商家 <span>500</span>家</div>
                            <p>商家总数：<small class="text-orange">600</small> 家</p>
                        </li>
                        <li>
                            <div>在线连乐 <span>2000</span>台</div>
                            <p>连乐总数：<small class="text-orange">2600</small> 台</p>
                        </li>
                        <li class="last">
                            <div>启用广告 <span>25</span>条</div>
                            <p>广告总数：<small class="text-orange">600</small> 条</p>
                        </li>
                    </ul>
                </div>

                <div class="filter filter-gray">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">前6月</a></li>
                    </ul>
                </div>

                <div class="total">
                    <ul>
                        <li>
                            <h3>6个月</h3>
                            <p>商家平均活跃时长</p>
                        </li>
                        <li>
                            <h3>10个月</h3>
                            <p>商家最高活跃时长</p>
                        </li>
                        <li>
                            <h3>80%</h3>
                            <p>商家活跃率</p>
                        </li>
                    </ul>
                </div>

                <table class="table table-default table-embedded table-border-t">
                    <thead>
                    <tr>
                        <th>商家ID</th>
                        <th>商家名称</th>
                        <th>商家活跃时长</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>C0001</td>
                        <td>四川麻辣烫</td>
                        <td>5个月</td>
                    </tr>
                    <tr>
                        <td>C0001</td>
                        <td>四川麻辣烫</td>
                        <td>5个月</td>
                    </tr>
                    <tr>
                        <td>C0001</td>
                        <td>四川麻辣烫</td>
                        <td>5个月</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <!--main-->
    <div class="sidebar">

        <div class="panel">
            <div class="panel-hd">
                <div class="panel-title">
                    <h3>联系我们</h3>
                </div>
            </div>
            <div class="panel-bd">

                <div class="tab tab-noborder">
                    <div class="tab-nav">
                        <ul class="nav nav-tabs nav-smt">
                            <li class="active"><a href="#">西北区</a></li>
                            <li><a href="#">东北区</a></li>
                            <li><a href="#">西南区</a></li>
                            <li><a href="#">东南区</a></li>
                        </ul>
                    </div>
                    <div class="tab-main">
                        <div class="tab-panel tab-current">

                            <ul class="area-contact">
                                <li>
                                    <div class="area-label">
                                        <i class="icon icon-local"></i>
                                        范围
                                    </div>
                                    <div class="area-main">
                                        <span>北京</span>
                                        <span>北京</span>
                                        <span>北京</span>
                                        <span>北京</span>
                                        <span>北京</span>
                                        <span>北京</span>
                                        <span>北京</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="area-label help-inline">
                                        <i class="icon icon-principal"></i>
                                        负责人
                                    </div>
                                    万敏
                                </li>
                                <li class="last">
                                    <div class="area-label help-inline">
                                        <i class="icon icon-qq"></i>
                                        QQ
                                    </div>
                                    12312312
                                </li>
                            </ul>

                        </div>
                        <div class="tab-panel"></div>
                        <div class="tab-panel"></div>
                        <div class="tab-panel"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--sidebar-->

</div>
<!--container-->

<div class="footer">
    <p>&copy;湖北盛天网络技术股份有限公司版权所有 鄂B2-20110110</p>
</div>
<!--footer-->

</body>
</html>