<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>登录页</title>
    <link rel="stylesheet" href="../../dest/css/beeui.min.css"/>
</head>
<body class="login">

<div class="panel-login">
    <div class="panel-hd">
        <h1 class="logo"><a href="/">淘金网吧联盟代理商后台</a></h1>
    </div>
    <div class="panel-bd">
        <form class="form-v" action="">
            <div class="row">
                <div class="input-group">
                    <i class="icon icon-user"></i>
                    <input class="input input-login input-block" type="text" placeholder="用户名"/>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <i class="icon icon-password"></i>
                    <input class="input input-login input-block" type="password" placeholder="密码"/>
                </div>
            </div>
            <div class="row">
                <div class="input-group help-inline">
                    <i class="icon icon-authcode"></i>
                    <input class="input input-login input-smt" type="text" placeholder="验证码"/>
                </div>
                <div class="authcode">
                    <a href="#">
                        <img src="#" alt=""/>
                    </a>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-unbent btn-lg" type="submit">登录</button>
            </div>
        </form>
    </div>
</div>
<!--panel-->

<div class="footer">
    <p>&copy;湖北盛天网络技术股份有限公司版权所有 鄂B2-20110110</p>
</div>
<!--footer-->

</body>
</html>